<!-- 
<div class="container-logIn container">
  <form nz-form [formGroup]="validateForm">

      <div class="row justify-content-center">
          <div class="col-4 align-self-center">
              <label for="fname">اسم المستخدم</label>
          </div>
      </div>

      <div class="row justify-content-center">
          <div class="col-4 align-self-center">
              <input type="text" id="username" name="username" formControlName="userName">
          </div>
      </div>

      <div class="row justify-content-center">
          <div class="col-4 align-self-center">
              <label for="password">كلمة المرور</label>
          </div>
      </div>

      <div class="row justify-content-center">
          <div class="col-4 align-self-center">
              <input type="password" name="password" formControlName="password">
          </div>
      </div>

      <div class="row justify-content-center">
          <button class="butt" (click)="submitForm()">تسجيل الدخول</button>
      </div>
      <div class="row justify-content-center create-account-link">
          <div class="col-4" style="text-align: center;margin-top: 25px;">
              <a (click)="appRouter.goToNewAccount()">لا يوجد لديك حساب؟</a>
          </div>
      </div>
  </form>
</div> -->